.div{
    box-shadow: -1px -1px 20px 0 rgb(122, 221, 102), 4px 4px 16px 10px rgb(92, 162, 235);
    background:transparent;
    border: 3px solid black;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    border-radius: 5px; 
}

.div:hover{
    box-shadow: 2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
}

.div1{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 30px;
}

.imagen{
    border-radius: 5px;
    border: 2px solid white ;
    width: 400px;
    border-radius: 50%;
}
.imagen:hover{
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.boton{
    border-radius: 3px;
    background-color: rgb(214, 87, 87);
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 0px;
    width: 70px;
    height: 25px;
}

.boton:hover{
    background-color: rgb(246, 0, 0);
    color: white;
}

.h3{
    font-size: 35px;
    color: white;
}

