 .boton{
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    background-color: rgb(214, 87, 87);
    width:fit-content;
    height: fit-content;
}
.boton:hover{
    background-color: rgb(227, 33, 33);
    color: white;

}

.img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.img:hover{
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}


.caracter{
    font-size: 15px;
    color: rgb(255, 255, 255);
    
} 

.contenedor{
    /* background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% ); */
    background:transparent;
    border-radius: 10px ;
    border: 1px solid white;
    margin: 20px;
    height: fit-content;
    width: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: -1px -1px 20px 0 rgb(122, 221, 102), 4px 4px 16px 10px rgb(92, 162, 235);
    
}
.contenedor:hover{    
    box-shadow: 2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
    /* box-shadow: -2px -10px 104px 89px rgba(0,255,72,0.21);
    -webkit-box-shadow: -2px -10px 104px 89px rgba(0,255,72,0.21);
    -moz-box-shadow: -2px -10px 104px 89px rgba(0,255,72,0.21); */
}

.Link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.Link:hover{
    color: aquamarine;
}

.boton11{
   background-color: transparent;
   border: 0px;
   font-size: 20px;
}


.divBoton{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 5px;
}